<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abstratas</title>
    <link rel="shortcut icon" href="/imagens/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="/style/principal.css">
</head>
<body>
    <h1>Abstratas</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum reprehenderit voluptate voluptas omnis fugit. Perferendis, magnam fuga assumenda, laborum vel, ullam nobis ipsa architecto consectetur accusamus quas delectus quasi placeat?</p>
</body>
</html>