<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Fotos</title>
    <link rel="shortcut icon" href="/imagens/favicon-32x32.png " type="image/x-icon">
    <link rel="stylesheet" href="/style/principal.css">
</head>
<body>
    <header> 
        <section class="header">
            <h1>PARANDO O TEMPODE COM ALGUNS CLIQUES</h1>
            <p>Parando o tempo com alguns cliques, nesse site vou mostrar algumas das minhas fotos, e contar um pouco sobre a história delas, como foi o momento da captura, composição e até aplicativos de edição.</p>
        </section>
    </header>
    <!------------------------------------------------------------NAV----------------------------------------------------------------->
    <nav> 
        <source>
            <a href="#">Natureza</a>
            <a href="#">Urbana</a>
            <a href="#">Por do Sol</a>
            <a href="#">Abstratas</a>
        </source>
    </nav>
    <!------------------------------------------------------------MAIN---------------------------------------------------------------->
    <main>

        <article>

            <div>
                <h1>Minhas Capturas</h1>
                    <p>As fotos abaixo foram registradas em sua grande maioria na cidade de Sorocaba, Itu e em algumas praias do Rio de Janeiro, contarei um pouco sobre a história de cada foto, como foi registra-las além dos aplicativos de edição que usei para fazer o tratamento das fotos.</p>
                 </div>
                     <br> <br>

                <h2>Por do sol</h2>

                    <picture>
                        <source media="(max-width: 516px)" srcset="/imagens/foto-1-400px.jpg">
                        <img src="/imagens/foto-1-500px.jpg" alt="Por do Sol em Sorocaba">
                    </picture>

            <p>Registrei essa foto por volta das 17:30 em Sorocaba, apesar de que a bateria do celular estava no final e eu praticamente ter tirado a foto as cegas KKKK, gostei muito do resultado.</p>

            <p>Para conferir essa foto em meu Instagram clique <a href="https://www.instagram.com/p/CLR0RdaJo9L/" target="_blank">aqui</a></p> <br> <br>

            <h2>Caminho da paz</h2>

                <picture>
                     <source media="(max-width: 516px)" srcset="/imagens/foto-5-400px.jpg">
                    <img src="/imagens/foto-5-500px.jpg" alt="A imagem de um por do sol em Sorocaba">
                </picture>

            <p>Essa foto foi tirada em uma pequena trilha em Sorocaba, com uma composição bem simples a foto segue com cores quentes e com uma presença considerável de alguns tons de verde, em relação ao horário era proximo a <abbr title="Hora Dourada">Golden Hour</abbr> ou seja, perto das 18:00, a experiência de registrar essa foto foi reconfortante após a captura pude observar os tons de amarelo que pintavam suavemente a paisagem.</p>

            <p>Para conferir essa foto em meu instagram clique <a href="https://www.instagram.com/p/CLmVzGypp-i" target="_blank">aqui</a></p>    
            </p> <br> <br>

            <h2>Cores em evidencia</h2>

            <picture>
                <source media="(max-width: 516px)" srcset="/imagens/foto-4-400px.jpeg">
                <img src="/imagens/foto-4-500px.jpeg" alt="Pisca pisca natalino">
            </picture>

            <p>Uma foto aparentemente simples mas não se engane, sua composição foi um tanto quanto complicada, além do estrategico posicionamento da câmera, quis conseguir uma superficie com uma textura aparente, ao combinar a cor da madeira escura com as luzes foi possível criar esse efeito em que a luz se "derrama" na madeira</p> 
            <p>Para conferir essa foto em meu instagram clique <a href="https://www.instagram.com/p/B7ROaPtJx0l/" target="_blank">aqui</a></p> <br> <br>

            <h2>Uma mistura de cores</h2>

            <picture>
                <source media="(max-width: 516px)" srcset="/imagens/foto-3-400px.jpg">
                <img src="/imagens/foto-3-500px.jpg" alt="Um céu com cores vibrantes de um por do sol">
            <picture>

            <p>Com a maior certeza esse foi uma das cores mais <strong>lindas</strong> que eu já vi no ceu, em especifico nesse dia eu já esperava que fosse ter um por do sol difente devido ás condições meteorológicas, mas não esperava que fosse isso tudo &#x1F970;, a composição em si é simples, mas a experiência de registrar essas cores que realmente importa.</p>

            <p>Para conferir essa foto em meu instagram clique <a href="https://www.instagram.com/p/CJozXneJ22J/" target="_blank">aqui</a></p> <br> <br>

            <h2>Ceu pela manhã</h2>

            <picture>
                <source media="(max-width: 516px)" srcset="/imagens/foto-6-400px.jpg">
                <img src="/imagens/foto-6-500px.jpg" alt="Um ceu azul de Ilha Grande">
            </picture>

            <p>Essa foto foi registrada por volta de umas <strong>10:00</strong>, o horizonte estava levemente embaçada pela neblina, dando um efeito que gostei, em relação á composição o poste poderia estar exatamente no meio da ponte, mas estava um pouco para direita, ainda assim as coisas ficaram minimamente harmonicas </p>

             <p>Para conferir essa foto em meu instagram clique <a href="https://www.instagram.com/p/CXwYEAkpw2s/" target="_blank">aqui</a></p> <br> <br>

            <h2>Tons de rosa</h2>

            <picture>
                <source media="(max-width: 516px)" srcset="/imagens/foto-8-400px.jpg">
                <img src="/imagens/foto-8-500px.jpg" alt="por do sol Sorocaba">
            </picture>

            <p>Essa foto foi tirada em um dos meus lugares favoritos em Sorocaba, um pouco perigoso ?, é sim kkkkk, mas é uma ponte que tem uma vista linda, sem falar das cores dessas tarde além da composição que gostei, nessa foto exclusivamente eu usei um tripe, para conseguir uma maior estabilidade.</p>

            <p>Para conferir essa foto em meu instagram clique <a href="https://www.instagram.com/p/CLW3mBcJna1/" target="_blank">aqui</a></p>

            <aisde>
                <h1>Minha experiência na fotografia</h1>

                <p>Comecei a fotografar a mais ou menos 4 anos, tudo começou como uma passa tempo, e até uma maneira de escapar da rotina, conhecer novos lugares e viver experiência novas, a fotografia me ajudou a desenvolver meu senso critico através dos meus próprios erros, e dicas com outras pessoas que também fotografavam, ao passar do tempo dei uma parada com as fotos, mas estou voltando agora em 2022, lembrando que desde o começo uso meu celular para fotografar, então não é necessáriamente um obstáculo não ter uma câmera para fazer fotografia, você pode praticar com seu celular.</p> <br>
            </aisde>
        </article>
    </main>
    <!--------------------------------------------------------------FOOTER------------------------------------------------------------>
    <footer>
        <div class="fundofooter">
            <h1>Algumas informações sobre</h3>
            <p>Esta pagina web foi feita por mim para, colocar em pratica meus conhecimentos de <abbr title="HyperText Markup Language">HTML</abbr> e <abbr title="Cascading Style Sheets">CSS</abbr> além de mostrara um pouco do meu hobby, sendo esse fotografia, eu espero que você tenha gostado.</p> <br> <br>
            <h2>Meios de contato</h2>
            <div class="icon">
                <a href="https://www.instagram.com/marcus__fotos/" target="_blank" rel="external"><img src="/imagens/instagram45px.png" alt="icone do instagram"></a>

                <a href="https://www.linkedin.com/in/marcus-vinícius-b11675209" target="_blank" rel="external"><img src="/imagens/linkedin45px.png" alt="icone do linkedin"></a>

                <a href="https://www.instagram.com/marcu_uss/" target="_blank" rel="external"><img src="/imagens/instagram45px.png" alt="icone do instagram"></a>

                <a href="https://github.com/Marcus310" target="_blank" rel="external"><img src="/imagens/github45px.png" alt="icone do github"></a>
            </div>
        </div>
    </footer>
</body>
</html>