<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urbana</title>
    <link rel="shortcut icon" href="/imagens/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="/style/principal.css">
</head>
<body>
    <h1>PAGINA PARA URBANA</h1>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam id earum at. Saepe ab totam temporibus. Praesentium tenetur, velit sint nisi autem numquam reiciendis quisquam dolorem minima omnis ipsam atque.</p>
</body>
</html>